@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,100;1,200;1,300;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
/* aside{
  
    border: 2px solid black;
} */
nav {
  border-right: 1px solid #c5c5c5;
}
.page {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "nav head aside"
    "nav main aside";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 200px 1fr;
}
.navbar {
  grid-area: nav;
}
.head {
  grid-area: head;
}
.side {
  grid-area: aside;
}
.main {
  grid-area: main;
}

/* navbar */
i p {
  display: inline;
  padding: 20px;
  font-weight: lighter;
}
.icon {
  margin-bottom: 20px;
  margin-right: 15px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.icon p {
  font-weight: 400;
}
.icon:hover {
  background-color: #ebebeb;
  transform: scale(1.1);
}

i {
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  flex-direction: column;
  font-size: 20px;
  height: 100vh;
  position: fixed;
}
.nav-logo {
  position: relative;
  top: 20px;
  right: 10px;
}
.nav-body {
  display: flex;
  flex-direction: column;
}
.xx {
  border: 2px solid black;
}
.nav-profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;

  position: relative;
  right: 15px;
  margin: 0 10px;
  overflow: hidden;
}
.nav-profile-pic img {
  width: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-profile {
  display: flex;
  padding: 10px;
}

.nav-foot {
  display: flex;
  flex-direction: column;
}

/* head--story */

.stories {
  position: relative;
  left: 90px;
  bottom: 30px;
  padding: 10px 50px 0px 0px;

  padding-top: 70px;
  white-space: nowrap;
  overflow-x: scroll;
  width: 700px;
  height: 100%;
}
.stories::-webkit-scrollbar {
  display: none;
}
.story {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 50%;
  border: 5px double rgb(224, 64, 94);
  overflow: hidden;
  cursor: pointer;
}
.story:first-child {
  margin-left: 0px;
}
.story,
img {
  width: 80px;
  background-position: center;
  background-size: cover;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-view {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 100;
}
.story-view i {
  color: #fff;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}
.fa-xmark {
  position: absolute;
  top: 20px;
  right: 30px;
}
.story-view img {
  width: 400px;
}

/* main-content posts */

.main {
  position: relative;
  bottom: 30px;
  height: 100%;
  overflow-x: hidden;
}
.card {
  width: 420px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f1f1;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.card i {
  cursor: pointer;
}
.card i:hover {
  opacity: 0.7;
}

.card-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  top: 0px;
}
.card-head i {
  font-size: 20x;
}
.card-head .name {
  display: flex;
  justify-content: space-between;
}
.card-head .name p {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  right: 10px;
  top: 3px;
}

.card-img img {
  width: 420px;
  height: 530px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.card-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  bottom: 5px;
  padding: 0 5px;
}
.card-icons i {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.card-title {
  width: 100%;
  padding: 5px 10px;
}
.card .nav-profile-pic {
  background-position: center;
  background-size: cover;
}

/* side bar */
.side {
  right: 100px;
  position: relative;
}
.sidecont {
  height: 100%;
  overflow-x: hidden;
}
.static {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 100px;
  margin-left: 50px;
}
.static .pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.static .users {
  position: relative;
  right: 37px;
}
.users p:first-child {
  font-size: 17x;
  font-weight: 700;
}
.users p:last-child {
  font-size: 16px;
  font-weight: 400;
}
.switchbtn {
  font-weight: 500;
  font-size: 15px;
  position: relative;
  top: 5px;
  cursor: pointer;
  width: 60px;
}
.followbtn {
  color: #0095f6;
}
.textcont p {
  position: relative;
  top: 20px;
  left: 50px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 13px;
}
.xusers {
  margin-top: 20px;
}
.bill {
  position: relative;
  top: 10px;
}
.dynamic {
  transform: scale(0.9);
}
.xusers .pic {
  transform: scale(0.8);
}

/* 
responsive */

@media (max-width: 1400px) {
  .page {
    grid-template-areas:
      "nav head "
      "nav main";
    grid-template-columns: 1fr 4fr;
    grid-template-columns: 1fr 5fr;
  }
  .side {
    display: none;
  }
  .stories {
    left: 0px;
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  .stories {
    width: 500px;
  }
}

@media (max-width: 900px) {
  .nav-body p,
  .nav-logo,
  .nav-foot p {
    display: none;
  }
  .navbar {
    align-items: center;
  }
  .nav-profile-pic {
    right: 0;
  }
  .nav-body {
    position: relative;
    align-items: center;
    top: 70px;
  }
  .nav-body i {
    font-size: 25px;
  }
  .stories {
    width: 300px;
  }
  .card {
    transform: scale(0.8);
  }
}
